<div class="container">
    <div class="row">
        <div class="col-5">
            <h1>burgers to eat</h1>

            <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    <p>
                        {{this.id}}. {{this.burger_name}}

                        <button class="devourBurger" data-id="{{this.id}}">Devour!</button>

                        <button data-burgerid="{{this.id}}" class="delburger">Delete</button>
                    </p>    
                {{/unless}}
            {{/each}}
            </ul>
        </div>

        <img src="../../public/assets/img/burger.jpg">

        <div class="col-5">
            <h1>devoured burgers</h1>

            <ul>
            {{#each burgers}}
                {{#if devoured}}
                    <p>
                        {{this.id}}. {{this.burger_name}}
                        <button class="menuBurger" data-id="{{this.id}}">Put back on menu!</button>

                        <button data-burgerid="{{this.id}}" class="delburger">Delete</button>
                    </p>
                {{/if}}
            {{/each}}
            </ul>
        </div>
    </div>


    <h2>Add a burger to eat</h2>
    <form id="addburger" class="button-size">
        <textarea type="text" name="burger"></textarea>
        <button type="submit">Save burger!</button>
    </form>

</div>

<script type="text/javascript">
  $(".delburger").on("click", function(event) {
    var id = $(this).data("burgerid");

    // Send the DELETE request.
    $.ajax("/api/burgers/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#addburger").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newburger = {
      burger_name: $("#addburger [name=burger]").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newburger
    }).then(
      function() {
        console.log("added new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".devourBurger").on("click", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    console.log("work");

    var id = $(this).data("id");

    var updatedburger = {
      devoured: true
    };

    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: updatedburger
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".menuBurger").on("click", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var id = $(this).data("id");

    var updatedburger = {
      devoured: false
    };

    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: updatedburger
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>
